Old/Dynamensions.Weather/SampleResponses/ZipCodeList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="dwml">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="latLonList" type="xsd:string" />
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:decimal" use="required" />
    </xsd:complexType>
  </xsd:element>
</xs:schema>